Verbosity: 3 
JustInit: F 
Comoving: T 
IntSeed: 1234567 

UseIsoTemp: F 
IsoTemp: -99 

AdjustIsmPars: T 
IsmTemp: 1.0d4 
IsmHotFrac: 0.0d0 
IsmAddH2: T 
IsmH2Param1: 3.5d4
IsmH2Param2: 0.92 

AdjustShldPars: T 
ShldTemp: 1.0d4 
ShldTauThresh: 1.0d0

InputType: eagle
EOSvarName: OnEquationOfState
SnapPath: /disks/strw5/galtay/Charm-Data/snapshot
ParFileBase: snap_012_z003p017
ParFilesPerSnap: 16

ItabDir: ../../Codes/urchin/data/ionization_tables
AtomicRatesFile: ../../Codes/urchin/data/atomic_rates/atomic_rates_Hui.txt 
SlabLookupFile: ../../Codes/urchin/data/slab_lookup_tables/hm01qg_qmax4/Nl_0000100000_hmax_5.0000E+00.hdf5


Monochromatic: F 
MonoRydbergs: 1.0 
MonoNormMethod: ngamma 

XcoordBndryCond: 1 
YcoordBndryCond: 1 
ZcoordBndryCond: 1 

RayStats: T 
MaxRayDist: 0.1d0

HealpixNside: 1
NumIterations: 320 
ConvTol: 1.0d-4

SpecLoRyd: 1.0d0 
SpecHiRyd: 4.0d0 
GammaMultiplier: 1.0d0
FluxDistribution: 0 
RhoMultiplier: 1.0d0 

NeBackground: 0.0d0 
H_mf: -99 
He_mf: -99 

OutputFileBase: snap 
OutputType: hdf5 

PartPerCell: 6 
